<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      * {
        box-sizing: border-box;
      }

      /* Create two unequal columns that floats next to each other */
      .column {
        float: left;
        /* padding: 15px; */
        height: 800px; /* Should be removed. Only for demonstration */
      }

      .left {
        width: 60%;
      }

      .right {
        width: 40%;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <div class class="row">
      <div class="column left" style="background-color: white">
        <div
          id="myDiagramDiv"
          style="width: 400px; height: 150px; background-color: #dae4e4"
        ></div>
      </div>
      <div class class="column right" style="border-left: 1px solid black">
        <app-properties></app-properties>
      </div>
    </div>
  </body>
</html>
