<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Properties</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <th  scope="col">maxRepeatCount</th>
      <td>3</td>
    </tr>
    <tr>
      <th scope="row">WelcomeMessage</th>
      <td>Welcome </td>
    </tr>
    <tr>
      <th  scope="row">Title</th>
      <td>Tree</td>
    </tr>
    <tr>
      <th scope="row">Description</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">AgentName</th>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Icon URL</th>
      <td>https://poca-store-blob.intelliassist.com:8080/common/pa/subcategory/RegisterCompliant.png</td>
    </tr>
    <tr>
      <th scope="row">version</th>
      <td>1.0.0</td>
    </tr>
    <tr>
      <th scope="row">Root</th>
      <td>ROOT NODE ID</td>
    </tr>
  </tbody>
</table>